*{
    margin: 0;
    padding: 0;
}


header{
    font-size: 3rem;
    left: 1rem;
    top: 1rem;
    margin: 5px 6px;
    
}

header h4{
     background: linear-gradient(to right, #102A44, #385979,#71A1C0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

}

.my-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}



.stepper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;  
    
    
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    border: 4px solid #e0e0e0;
    border-radius: 50%;
    background-color:#73AAF6 ;
}

.stepper p{
    color: rgb(7, 53, 71);
    
}

.circle.active{
    border-color: rgb(7, 53, 71);
    display: flex;
}


.buttons{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */

}

 .next{
    background:#73AAF6 ;
    border-radius: 10px;
    padding: 8px 20px;
    margin-top: 2rem;
    margin-left: 3rem;
    cursor: pointer;

}


.events{
    background: #DDF2F3;
    width: 210px;
    height: 100%;
    border-radius: 40px;
    padding: 2rem  2rem;
    margin-top: 2rem;
    
    
}

#event-container{
    background: #446C94;
    border-radius: 1rem;
    display: flex;
    position: relative;
    box-shadow: 0 2px 5px rgb(36, 150, 203);
    cursor: pointer;
    
    

}
.clicked-div{
    width: 200px;
    background: #102A44;
}

.clicked-div.selected {
  border: 3px solid blue;
  transform: scale(1.05);
  transition: 0.2s ease;
}

.infos {
  display: flex;
  flex-direction: column;
  
}


.places-res{
    display: flex;
}

.steps{
    display: none;
}

.image img{
    border-radius: 18px;
    width: 100px;
    height: 150px;
    position: relative;
    top: 1%;
    left: 1%;
}

.all-content{
    gap: 5px;
}

.events-2{
    display: flex;
    background: #DDF2F3;
    width: 210px;
    height: 100%;
    border-radius: 40px;
    padding: 2rem  2rem;
    margin-top: 2rem;
    gap: 20px;
}

.image1 img{
    border-radius: 16px;
    left: 2rem;
}

.infos-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #385979;
    border-radius: 16px;
    width: 200px;
    height: 100px;
    background: #385979;
}

.conteursPlaces-res{
   
    background: #446C94;
    border-radius: 3px;
    padding: 10px 5px;
    width: 90px;

}

.counter-container{
    display: flex;
    position: absolute;
    top: 350px;
    background: #385979;
    border-radius: 16px;
    border: 2px solid red;
    padding: 10px 10px;
    gap: 30px;
    
}


 .precedent{
    background:#73AAF6 ;
    border-radius: 10px;
    padding: 8px 20px;
    margin-top: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}


.form-container{
    display: grid;
    background: #385979;
    border-radius: 18px;
    width: 100%;
    height: 100%;
}

#my-form{
    display: flex;
    align-items: center;
    line-height: 2rem;
}
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
}



#submit{
    background:#73AAF6 ;
    border-radius: 10px;
    padding: 8px 20px;
    cursor: pointer; 
    margin-top: 2rem;
    margin-left: 5rem;


       
}

.affichage{
    background: #71A1C0;
    padding: 20px;
    min-height: 200px;
    border-radius: 16px;
    
}

#step3{

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
#message{
    background: #71A1C0;
    border-radius: 16px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 200px;
}


@media(min-width:601px){

.my-body{
    width: 50%;   

}
.stepper{
    margin: 2rem auto;
}

.events{
    display: grid;
    width: 50rem;
    height: 30rem;
    padding: 1rem ;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    place-items: center;
    margin-left: 8rem;
}

#event-container{
    background: #446C94;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    gap: 20px;
    
} 

.infos{
    justify-content: center;
    align-items: flex-start;  
    
}
.places-res{
    bottom: 1rem;

}

.all-content{
    display: grid;
    grid-template-columns: 35% 35% 35%;
    place-items:center ;

}

.buttons{
    display: flex;
    gap: 33rem;
}

 .next{
position: relative;
top: 0;
 }
 .precedent{
    margin-left: 10rem;
 }

.image1 img{
    width: 300px;
    height: 300px;
    margin-left: 2rem;
}

.infos-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #385979;
    border-radius: 16px;
    width: 200px;
    height: 100px;
    background: #385979;
    margin-top: 2rem;


}

.events-2{
    width: 50rem;
    height: 25rem;
    margin-left: 8rem;
    gap: 200px;

}

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-container{
 top: 400px;
}

.conteursPlaces-res {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-left: 4rem;
}


.form-container{
    display: grid;
    background: #385979;
    border-radius: 18px;
    width: 100%;
    height: 100%;
    margin-left: 2rem;
}

#my-form{
    display: flex;
    align-items: center;
    line-height: 3rem;
}

}
 
